<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><p>Name :{{ exercise.name }}</p></li>
        <li><p>exercise_type: {{ exercise.exercise_type }}</p></li>
        <li><p>movement_type: {{ exercise.movement_type }}</p></li>
        <li><p>muscle_group: {{ exercise.muscle_group }}</p></li>
        <li><p>major_muscle: {{ exercise.major_muscle }}</p></li>
        <li><p>minor_muscle: {{ exercise.minor_muscle }}</p></li>
        <li><p>notes: {{ exercise.notes }}</p></li>
        <li><p>modifications: {{ exercise.modifications }}</p></li>
        <li><p>beginner: {{ exercise.beginner }}</p></li>
        <li><p>intermediate: {{ exercise.intermediate }}</p></li>
        <li><p>advanced: {{ exercise.advanced }}</p></li>
        <li><p>warmup: {{ exercise.warmup }}</p></li>
    </ul>
</body>
</html>