{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Exercise Details</h1>
    <ul class="list-group">
        <li class="list-group-item"><strong>Name:</strong> {{ exercise.name }}</li>
        <li class="list-group-item"><strong>Exercise Type:</strong> {{ exercise.exercise_type }}</li>
        <li class="list-group-item"><strong>Movement Type:</strong> {{ exercise.movement_type }}</li>
        <li class="list-group-item"><strong>Muscle Group:</strong> {{ exercise.muscle_group }}</li>
        <li class="list-group-item"><strong>Major Muscle:</strong> {{ exercise.major_muscle }}</li>
        <li class="list-group-item"><strong>Minor Muscle:</strong> {{ exercise.minor_muscle }}</li>
        <li class="list-group-item"><strong>Notes:</strong> {{ exercise.notes }}</li>
        <li class="list-group-item"><strong>Modifications:</strong> {{ exercise.modifications }}</li>
        <li class="list-group-item"><strong>Beginner:</strong> {{ exercise.beginner }}</li>
        <li class="list-group-item"><strong>Intermediate:</strong> {{ exercise.intermediate }}</li>
        <li class="list-group-item"><strong>Advanced:</strong> {{ exercise.advanced }}</li>
        <li class="list-group-item"><strong>Warmup:</strong> {{ exercise.warmup }}</li>
    </ul>
</div>
{% endblock content %}

