{% extends "base.html" %}
{% block content %}
<div class="container my-4">
    <div class="card border-light shadow">
        <div class="card-body">
            <h1 class="mt-5">Total number of calories</h1>
            <p>Daily Calorie Goal: {{ daily_calorie_goal }}</p>
            <h1>Diet Plan</h1>
            {% for diet_plan in diet_plans %}
                <div class="card mb-4">
                    <div class="card-header">
                        <h2 class="card-title">{{ diet_plan }}</h2>
                        <p class="card-text">Date: {{ diet_plan.date }}</p>
                    </div>
                    <div class="card-body">
                        <h3>Recipes for the Day:</h3>
                        <ol class="list-group list-group-flush">
                            {% for recipe in diet_plan.recipes.all %}
                                <li class="list-group-item">{{ recipe.title }} - Calories: {{ recipe.calories }} | Protein: {{ recipe.protein }} | Fat: {{ recipe.fat }} <a href="{% url 'remove_food' recipe.id %}" class="btn btn-danger btn-sm float-right">Remove</a></li>
                            {% endfor %}
                        </ol>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'add_food_to_diet_plan' %}" class="btn btn-primary">Add Food</a>
                    </div>
                </div>
            {% empty %}
                <p>No diet plans available.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
