{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card border-light shadow">
        <div class="card-body">
            <h1 class="card-title">Add Weight</h1>
            <form method="post" class="mt-4 row">
                {% csrf_token %}
                <div class="form-group col-md-5">
                    {{ form.weight }}
                </div>
                <div class="form-group col-md-5">
                    {{ form.date }}
                </div>
                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="card border-light shadow">
        <div class="card-body">
            <h1 class="card-title mb-4">Weight Tracker</h1>
            <div class="text-center">
                <!-- Display the graph -->
                <img src="data:image/png;base64,{{ graph }}" alt="Weight Tracker Graph" class="img-fluid">
            </div>
        </div>
    </div>
</div>
{% endblock content %}
